
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

#NGROK
NGROK_AUTHTOKEN=""

# WhatsApp
ACCESS_TOKEN=""
VERIFY_TOKEN=""
APP_SECRET=""
APP_ID=""
RECIPIENT_WAID=""
PHONE_NUMBER_ID=""
VERSION="v18.0"

#OPENAI - Chatgpt
OPENAI_API_KEY=""
OPENAI_ASSISTANT_ID=""

#OPENAI - deepseek
#OPENAI_API_KEY=sk-38f83771bf124c93937429d560ba89af

# Authorization
SECRET_KEY=""


DATABASE_URL=
ASYNC_DATABASE_URI=
